<?xml version="1.0"?>
<robot name="msr_con" xmlns:xacro="http://ros.org/wiki/xacro">
    
    <xacro:arg name="laser_visual" default="true"/>

    <gazebo> <!-- omni controller-->
        <plugin name="omni_controller" filename="libgazebo_ros_planar_move.so">
            <updateRate>100.0</updateRate>
            <robotNamespace>/</robotNamespace>

            <leftFrontJoint>front_left_joint</leftFrontJoint>
            <rightFrontJoint>front_right_joint</rightFrontJoint>
            <leftRearJoint>back_left_joint</leftRearJoint>
            <rightRearJoint>back_right_joint</rightRearJoint>

            <wheelSeparation>0.3</wheelSeparation>
            <wheelDiameter>0.127</wheelDiameter>

            <robotBaseFrame>base_link</robotBaseFrame>

            <wheelAcceleration>1.0</wheelAcceleration>

            <torque>20</torque>
            <topicName>cmd_vel</topicName>
            <broadcastTF>false</broadcastTF>

            <!-- <commandTopic> cmd_vel </commandTopic> -->
            <odometryTopic> odom </odometryTopic>
            <odometryFrame> odom </odometryFrame>
            <covariance_x> 0.000100 </covariance_x>
            <covariance_y> 0.000100 </covariance_y>
            <covariance_yaw> 0.010000 </covariance_yaw>
        </plugin>
    </gazebo>
    <gazebo reference="my_lidar">
        <sensor type="ray" name="lidar_sensor">
            <pose>0 0 0 0 0 0</pose>
            <visualize>$(arg laser_visual)</visualize>
            <!-- <visualize>false</visualize> -->
            <update_rate>5</update_rate>
            <ray>
                <scan>
                    <horizontal>
                        <samples>720</samples>
                        <resolution>1</resolution>
                        <min_angle>0.0</min_angle>
                        <max_angle>6.28319</max_angle>
                    </horizontal>
                </scan>
                <range>
                    <min>0.120</min>
                    <max>3.5</max>
                    <resolution>0.015</resolution>
                </range>
                <noise>
                    <type>gaussian</type>
                    <mean>0.0</mean>
                    <stddev>0.01</stddev>
                </noise>
            </ray>
            <plugin name="lidar_controller" filename="libgazebo_ros_laser.so">
                <topicName>scan</topicName>
                <frameName>my_lidar</frameName>
            </plugin>  
        </sensor>  
    </gazebo>
    <gazebo reference="my_imu">
        <gravity>true</gravity>
        <sensor name="imu_sensor" type="imu">
            <always_on>true</always_on>
            <update_rate>10</update_rate>
            <visualize>true</visualize>
            <topic>__default_topic__</topic>
            <plugin filename="libgazebo_ros_imu_sensor.so" name="imu_plugin">
                <topicName>imu</topicName>
                <bodyName>my_imu</bodyName>
                <updateRateHZ>100.0</updateRateHZ>
                <gaussianNoise>0.0</gaussianNoise>
                <xyzOffset>0 0 0</xyzOffset>
                <rpyOffset>0 0 0</rpyOffset>
                <frameName>my_imu</frameName>
                <initialOrientationAsReference>false</initialOrientationAsReference>
            </plugin>
            <pose>0 0 0 0 0 0</pose>
        </sensor>
    </gazebo>
    <gazebo reference="my_camera">
        <sensor type="camera" name="camera1">
            <update_rate>30.0</update_rate>
            <camera name="head">
                <horizontal_fov>1.3962634</horizontal_fov>
                <image>
                <width>800</width>
                <height>800</height>
                <format>R8G8B8</format>
                </image>
                <clip>
                <near>0.02</near>
                <far>300</far>
                </clip>
                <noise>
                <type>gaussian</type>
                <!-- Noise is sampled independently per pixel on each frame.
                    That pixel's noise value is added to each of its color
                    channels, which at that point lie in the range [0,1]. -->
                <mean>0.0</mean>
                <stddev>0.007</stddev>
                </noise>
            </camera>
            <plugin name="camera_controller" filename="libgazebo_ros_camera.so">
                <alwaysOn>true</alwaysOn>
                <updateRate>0.0</updateRate>
                <cameraName>rrbot/camera1</cameraName>
                <imageTopicName>image_raw</imageTopicName>
                <cameraInfoTopicName>camera_info</cameraInfoTopicName>
                <frameName>my_camera</frameName>
                <hackBaseline>0.07</hackBaseline>
                <distortionK1>0.0</distortionK1>
                <distortionK2>0.0</distortionK2>
                <distortionK3>0.0</distortionK3>
                <distortionT1>0.0</distortionT1>
                <distortionT2>0.0</distortionT2>
            </plugin>
        </sensor>
    </gazebo>

</robot>